<div class="card">
  <div class="card-header">
    Settings
  </div>
  <div class="card-block">
    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="delimiter-options"/>
        <kbd>TSV</kbd>
      </label>
    </div>
    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="delimiter-options"/>
        <kbd>Space</kbd>
      </label>
    </div>
    <hr/>
  </div>
</div>


