<div class="card">
  <div class="card-header">
    Settings
  </div>
  <div class="card-block">
    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="delimiter-options"/>
        <kbd>TSV</kbd>
      </label>
    </div>
    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="delimiter-options"/>
        <kbd>Space</kbd>
      </label>
    </div>
    <hr/>
    <div *ngIf="converterService.uniqueTestTypes.length > 0">Select test types:</div>
    <div class="d-flex flex-wrap">
      <div *ngFor="let testType of converterService.uniqueTestTypes">
        <div (click)="toggleTestResult(testType)" class="test-type" [ngClass]="{'active': !testType.isExcluded}">
          {{testType.name}}
        </div>
      </div>
    </div>
  </div>
</div>
